<% if current_user.follows?(user) %> <!--if the current user follows a user we want to unfollow when we click the button -->
  <form action="<%= user_follow_url(user) %>" method="post">
    <input
        type="hidden"
        name="authenticity_token"
        value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Unfollow">
  </form>
<% else %><!--we want to follow if the user doesnt follow the user -->
  <form action="<%= user_follow_url(user) %>" method="post">
    <input
        type="hidden"
        name="authenticity_token"
        value="<%= form_authenticity_token %>">
    <input type="submit" value="Follow">
  </form>
<% end %>




    <%= method1 = current_user.follows?(user)  ? "post" : "delete" %>
    <%= action1 = current_user.follows?(user)  ? user_follow_url(user) :  user_follow_url(user)%>
    <%= following = current_user.follows?(user)  ? "Unfollowed": "Follow" %>
<form action="<%=action1%>" method= "post">
    <input
        type="hidden"
        name="authenticity_token"
        value="<%= form_authenticity_token %>">
        <input type="hidden" name="_method" value="<%=method1%>">
        <button class='follow-toggle'><%=following%></button>

</form>